

.calculator {
    border-radius: 10px;
    height: 700px;
    width: 400px;
    margin: auto;
    background: black;
}

.display {
    height: 230px;
    color: white;
}

.output {
    font-size: 30px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 50px;
    color: white;
    background-color: black;
    border: none;
    width: 300px;
    border-radius: 10px;
    height: 50px;
}

.output::placeholder {
    color: white;
}

.output:focus {
    border: 5px;
}

.buttons {
    padding-inline: 10px;
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(5, 90px) ;
    gap: 5px;
}

.myButton {
    border-radius: 50%;
    font-size: 30px;
    border: none;
}

#button_AC,
#button_\+\/-,
#button_\% {
    color: black;
    background-color: lightgray;
}

#button_AC:active,
#button_\+\/-:active,
#button_\%:active {
    background-color: white;
}

#button_\/,
#button_\*,
#button_-,
#button_\+,
#button_\= {
    color: white;
    background-color: orange;
}

#button_\/:active,
#button_\*:active,
#button_-:active,
#button_\+:active,
#button_\=:active {
    color: orange;
    background-color: white;
}

#button_0,
#button_1,
#button_2,
#button_3,
#button_4,
#button_5,
#button_6,
#button_7,
#button_8,
#button_9,
#button_\. {
    color: white;
    background-color: gray;
}

#button_0:active,
#button_1:active,
#button_2:active,
#button_3:active,
#button_4:active,
#button_5:active,
#button_6:active,
#button_7:active,
#button_8:active,
#button_9:active,
#button_\.:active {
    color: white;
    background-color: darkgray;
}

#button_0 {
    grid-column: span 2;
    border-radius: 70px;
}